h1 {
    color: rgb(82, 57, 151);
    font: sans-serif;
  }
  p {
    color: rgb(145, 110, 45);
    font: small;
  }
  a :hover {
    background-color: brown;
    color:aliceblue
  }
  a :hover {
      background-color: brown
      color: aliceblue
  }
  .center {
      margin-left; margin-auto
      margin-right: margin-auto
  }